
@{
    ViewBag.Title = "Index";
}
<style>
    .k-textbox {
        max-width: unset;
    }

    .item-form {
        position: relative;
        padding: 10px;
        border-bottom: 1px solid black;
    }

    .product-view {
        position: relative;
    }

    .k-input {
        max-width: unset !important;
    }

    .edit-buttons {
        position: absolute;
        right: 5px;
        top: 5px;
    }

    /*   .panel-primary panel-body {
        justify-content: center;

    }*/
    .badge-info {
        background-color: #8660E6;
        padding: 1rem;
        border-radius: 0.7rem;
    }

    #listViewSection {
        height: 70vh;
        padding: 0.5rem;
        border-radius: 3px;
        overflow: auto;
    }

    #listViewSection .product-view {
        border-radius: inherit;
        margin: 1rem 0 1rem 0;
    }

   
</style>

@*<div id="wndCreateSection"></div>*@
<div id="wndCreate"></div>


<hr class="mb-0" />

<div class="row">
    <div class="col-md-2">
        <h2>Form group</h2>
        <a id="btnAddFormGroup" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new group</a>
        <div id="listViewformGroup">
        </div>
        <div class="k-page-wrap">
            <div id="FormGroupPager"></div>
        </div>
        @******************jquery flip******************
            <div id="card">
                <div class="front" >
                    <h2>Form group</h2>
                    <a id="btnAddFormGroup" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new record</a>
                    <div id="listViewformGroup">
                    </div>
                    <div class="k-page-wrap">
                        <div id="FormGroupPager"></div>
                    </div>
                </div>
                <div class="back" >
                    <h2>Form</h2>
                    <a id="btnAddForm" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new record</a>
                    <div id="listViewform">
                    </div>
                    <div class="k-page-wrap">
                        <div id="FormPager"></div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="col-md-2">
        <h2>Form</h2>
        <a id="btnAddForm" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new form</a>
        <div id="listViewform">
        </div>
        <div class="k-page-wrap">
            <div id="FormPager"></div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Sections</h2>
        @*<a id="btnAddSection" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new section</a>*@

        @*<div class="k-page-wrap">
                <div id="SectionPager"></div>
            </div>*@
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button id="btnOpenwndCreateSection" type="button" class="btn btn-success"><i class="fas fa-plus"></i></button>
                @*@{Html.RenderAction("CreateSection","FormsManager");}*@

                <!--<div id="sectionModal">
                <span>sections </span>
                <span id="show" data-role="button" data-bind="click: show, enabled: isEnabled">Add new section</span>
                <div data-role="dialog"
                     data-title="Add new section"
                     data-width="450"
                     data-actions="[{text:'Skip', action: onSkip},{ text: 'Save', action: onSave, primary: true }]"-->
                @*data-actions="[{text:'Save',action: onSave}]"*@
                <!--data-modal="false"
                         data-content="<div><input type='text' name='Title' data-bind='value: Test' placeholder='Section title'/> <div><textarea type='text' data-bind='value: Desc' class='k-textbox' placeholder='section description ... '></textarea></div>"
                         data-bind="dialogOpen: isVisible,
                            events: { close: onClose}">
                    </div>
                </div>-->
            </div>
            <div class="panel-body">
                @*<div data-role="listview"
                         data-edit-template="SectionEditTemplate"
                         data-template="SectionTemplate"
                         data-bind="source: sections,visible: isVisible,events: {save: onSave}">
                    </div>*@
                <div id="listViewSection"></div>
            </div>
        </div>

    </div>


    @*<div class="col-md-4">
            <h2>Question</h2>
            <a id="btnAddQuestion" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new question</a>
            <div id="listViewQuestion">
            </div>
            <div class="k-page-wrap">
                <div id="QuestionPager"></div>
            </div>
        </div>*@


    <div class="col-md-2">
        <h2>Questions</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button id="btnOpenwndCreatePrQuestion" type="button" class="btn btn-success"><i class="fas fa-plus"></i></button>
            </div>
            <div class="panel-body">
                <div id="listViewPrQuestion">
                    <span class="badge badge-info">Questions test</span>
                </div>
            </div>

        </div>
        <!--{Html.RenderAction("GetPreparedQuestions", "FormsManager");}-->
        @*<a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-add"></span>Add new record</a>
            <div id="listViewformGroup">

            </div>*@
    </div>
</div>

@************************************************** Groups************************************************************************@
<script id="FormGroupTemplate" type="text/x-kendo-template">
    <div class="item-form">
        <div>#:name #</div>
        <div>#:desc #</div>
        <div class="edit-buttons">
          <a class="k-button k-edit-button" href="\\#" ><span class="k-icon k-i-edit"></span></a>
          <a class="k-button k-delete-button" href="\\#" ><span class="k-icon k-i-close"></span></a>
        </div>
    </div>
</script>

<script id="FormGroupEditTemplate" type="text/x-kendo-template">
    <div class="product-view k-widget">
        <div><input type="text" class="k-textbox" data-bind="value:name" placeholder="Group name" name="name" required="required" validationMessage="required" />
        <span data-for="name" class="k-invalid-msg"></span></div>
        <div><textarea type="text" class="k-textbox" data-bind="value:desc" placeholder="Group description" name="desc" required="required" validationMessage="required"></textarea>
        <span data-for="desc" class="k-invalid-msg"></span></div>
         <div class="edit-buttons">
          <a class="k-button k-update-button" href="\\#" ><span class="k-icon k-i-check"></span></a>
          <a class="k-button k-cancel-button" href="\\#" ><span class="k-icon k-i-cancel"></span></a>
        </div>
    </div>
</script>
@*******************************************************forms***************************************************************@
<script id="FormTemplate" type="text/x-kendo-template">
     <div class="item-form">
        <div>#:title #</div>
        <div>#:desc #</div>
        <div>#:duration # <b>MIN</b></div>
        <div id="#=IdGroup #">#:groupName #</div>
        <div class="edit-buttons">
          <a class="k-button k-edit-button" href="\\#" ><span class="k-icon k-i-edit"></span></a>
          <a class="k-button k-delete-button" href="\\#" ><span class="k-icon k-i-close"></span></a>
        </div>
    </div>
</script>

<script id="FormEditTemplate" type="text/x-kendo-template">
     <div class="product-view k-widget">
        <div><input type="text" placeholder="Form title" data-bind="value: title" class="k-textbox" /></div>
        <div><textarea data-bind="value: desc" placeholder="Form description" class="k-textbox"></textarea></div>
        <div><input type="number" placeholder="duration" data-bind="value: duration" class="k-textbox" /></div>
        <div><input type="number" placeholder="group" data-bind="value: IdGroup" data-source="DsListViewFormGroup" data-text-field="name" data-value-field="id" data-role="dropdownlist" /></div>
        <div class="edit-buttons">
            <a class="k-button k-update-button" href="\\#"><span class="k-icon k-i-check"></span></a>
            <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-i-cancel"></span></a>
        </div>
    </div>
</script>
@************************************************************ section **************************************************************************************@
<script type="text/x-kendo-tmpl" id="SectionTemplate">
    <div class="product-view k-widget">
       <div class="panel panel-primary">
        <div class="panel-heading"><span><b>PARTIE #:Number# \: #: Title # </b></span>
          <div>#:Desc#</div>
          <div class="edit-buttons">
                <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-i-edit"></span></a>
                <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-i-delete"></span></a>
            </div>
        </div>
      <div class="panel-body">

      </div>
     </div>
    </div>
</script>

<script id="SectionEditTemplate" type="text/x-kendo-template">
    <div class="product-view k-widget">
        <div><input type="text" class="k-textbox" data-bind="value: Title" placeholder="Section title" name="Title" required="required" validationMessage="required" />
        <span data-for="Title" class="k-invalid-msg"></span></div>
        <div><textarea type="text" class="k-textbox" data-bind="value: Desc" placeholder="Section description" name="Desc" required="required" validationMessage="required"></textarea>
        <span data-for="Desc" class="k-invalid-msg"></span></div>
        <div><input class="k-input" type="number" data-bind="value: Number" min="1" placeholder="set a numbring of section" name="Number" required="required" validationMessage="required"/></div>
        <div><input type="number"  data-bind="value: FormId" data-source="DsForms" data-text-field="title" data-value-field="id" data-role="dropdownlist" /></div>
         <div class="edit-buttons">
          <a class="k-button k-update-button" href="\\#" ><span class="k-icon k-i-check"></span></a>
          <a class="k-button k-cancel-button" href="\\#" ><span class="k-icon k-i-cancel"></span></a>
        </div>
    </div>
</script>
@************************************************************ Question **************************************************************************************@

<script id="QuestionTemplate" type="text/x-kendo-template">
    <div class="item-form">
        <div>#:Desc #</div>
        <div id="#=SectionID #">#:SectionTitle #</div>
        <div class="edit-buttons">
          <a class="k-button k-edit-button" href="\\#" ><span class="k-icon k-i-edit"></span></a>
          <a class="k-button k-delete-button" href="\\#" ><span class="k-icon k-i-close"></span></a>
        </div>
    </div>
</script>

<script id="QuestionEditTemplate" type="text/x-kendo-template">
    <div class="product-view k-widget">
        <div><input type="number" min="1" class="k-textbox" data-bind="value:Numbering" name="Numbering" required="required" validationMessage="required" />
        <span data-for="Numbering" class="k-invalid-msg"></span></div>
        <div><textarea type="text" class="k-textbox" data-bind="value:Desc" placeholder="Question description" name="Desc" required="required" validationMessage="required"></textarea>
        <span data-for="Desc" class="k-invalid-msg"></span></div>
        <div><input type="number"  data-bind="value: SectionID" data-source="DsListViewSection" data-text-field="SectionTitle" data-value-field="id" data-role="dropdownlist" /></div>
         <div class="edit-buttons">
          <a class="k-button k-update-button" href="\\#" ><span class="k-icon k-i-check"></span></a>
          <a class="k-button k-cancel-button" href="\\#" ><span class="k-icon k-i-cancel"></span></a>
        </div>
    </div>
</script>

@************************************************************ PreQuestion **************************************************************************************@
<script id="PrQuestionTemplate" type="text/x-kendo-template">
    <div class="item-form">
     <span class="badge badge-info" >#:Desc #</span>
        <div class="edit-buttons">
          <a class="k-button k-edit-button" href="\\#" ><span class="k-icon k-i-edit"></span></a>
          <a class="k-button k-delete-button" href="\\#" ><span class="k-icon k-i-close"></span></a>
        </div>
    </div>
</script>

<script id="PrQuestionEditTemplate" type="text/x-kendo-template">
    <div class="product-view k-widget">
        <div><input type="number" min="1" class="k-textbox" data-bind="value:Numbering" name="Numbering" required="required" validationMessage="required" />
        <span data-for="Numbering" class="k-invalid-msg"></span></div>
        <div><textarea type="text" class="k-textbox" data-bind="value:Desc" placeholder="Question description" name="Desc" required="required" validationMessage="required"></textarea>
        <span data-for="Desc" class="k-invalid-msg"></span></div>
        <div><input type="number"  data-bind="value: SectionID" data-source="DsListViewSection" data-text-field="SectionTitle" data-value-field="id" data-role="dropdownlist" /></div>
         <div class="edit-buttons">
          <a class="k-button k-update-button" href="\\#" ><span class="k-icon k-i-check"></span></a>
          <a class="k-button k-cancel-button" href="\\#" ><span class="k-icon k-i-cancel"></span></a>
        </div>
    </div>
</script>

<script>


    //var wndCreateSection = $("#wndCreate").kendoWindow({
    //    content: URLROOT + "FormsManager/CreateSection",
    //    width: 800,
    //    visible: false,
    //    title: "Create new Section",
    //}).data("kendoWindow");
    var wndCreat = "";
    function CreateWin(url, height, width, title) {
         wndCreat=$("#wndCreate").kendoWindow({
            content: URLROOT + url,
            width: width,
            height: height,
            visible: false,
            title: title,
        }).data("kendoWindow");
    }

    $(function () {
        //*************************** Form Group *********************************************
        let lvFormGroup = $("#listViewformGroup").kendoListView({
            dataSource: DsListViewFormGroup,
            pageable: true,
            selectable: "single",
            change: function () {
                let data = DsListViewFormGroup.view();
                selected = $.map(this.select(), function (item) {
                    return data[$(item).index()].id;
                });
                var idGroupe = selected[0];
                DsForms.read({ idGroupe: idGroupe });
                DsForms.filter({ field: "IdGroup", operator: "eq", value: idGroupe });

            },
            template: kendo.template($("#FormGroupTemplate").html()),
            editTemplate: kendo.template($("#FormGroupEditTemplate").html())
        }).data("kendoListView");

        $("#btnAddFormGroup").click(function (e) {
            lvFrormGroup.add();
            e.preventDefault();
        });
        $("#FormGroupPager").kendoPager({
            dataSource: DsListViewFormGroup
        });
        //****************************** Form **************************************
        var lvForm = $("#listViewform").kendoListView({
            autoBind: false,
            dataSource: DsForms,
            pageable: true,
            selectable: "single",
            change: function () {
                let data = DsForms.view(),
                    selected = $.map(this.select(), function (item) {
                        return data[$(item).index()].id;
                    });
                DsListViewSection.read({ idForm: selected[0] });
                /*    DsListViewSection.filter({ field: "FormId", operator: "eq", value: idForm });*/
            },
            template: kendo.template($("#FormTemplate").html()),
            editTemplate: kendo.template($("#FormEditTemplate").html()),
        }).data("kendoListView");
        $("#btnAddForm").click(function (e) {
            debugger;
            lvForm.add();
            e.preventDefault();
        });

        $("#FormPager").kendoPager({
            dataSource: DsForms
        });
        //************************************** section *********************************************

        $("#btnOpenwndCreateSection").click(function () {
            wndCreat = "";
            CreateWin("FormsManager/CreateSection", 300, 400, "Create new Section");
            wndCreat.open().center();
        });

        var lvSection = $("#listViewSection").kendoListView({
            autoBind: false,
            dataSource: DsListViewSection,
            selectable: "single",
            chnage: function () {
                let data = DsListViewSection;
                selected = $.map(this.select(), function (item) {
                    return data[$(item).index()].id;
                });

            },
            template: kendo.template($("#SectionTemplate").html()),
            editTemplate: kendo.template($("#SectionEditTemplate").html()),
        }).data("kendoListView");


       
        //************************************** Pr Question *********************************************
        $("#btnOpenwndCreatePrQuestion").click(function () {
            wndCreat = "";
            CreateWin("FormsManager/CreatePreparedQuestion", 500, 1000, "Create new Question");
            wndCreat.open().center();
        });
        var lvPrQuestion = $("#listViewPrQuestion").kendoListView({
            autoBind: false,
            dataSource: DsListViewPrQuestion,
            selectable: "single",
            chnage: function () {
                let data = DsListViewPrQuestion;
                selected = $.map(this.select(), function (item) {
                    return data[$(item).index()].id;
                });

            },
            template: kendo.template($("#PrQuestionTemplate").html()),
            editTemplate: kendo.template($("#PrQuestionEditTemplate").html()),
        }).data("kendoListView");
        $("#btnAddQuestion").click(function (e) {
            lvSection.add();
            e.preventDefault();
        });

        //$("#SectionPager").kendoPager({
        //    dataSource: DsListViewQuestion
        //});
        //var DsGridFormGroups = new kendo.data.DataSource({
        //    //type: "aspnetmvc-ajax",
        //    transport: {
        //        read: {
        //            url: URLROOT + "FormsManager/GetFormGroups",
        //            type: "POST"
        //        },
        //        create: {
        //            url: URLROOT + "FormsManager/CreateInline",
        //            type: "POST"
        //        },
        //        update: {
        //            url: URLROOT + "FormsManager/UpdateInline",
        //            type: "POST"
        //        },
        //        destroy: {
        //            url: URLROOT + "FormsManager/DeleteInline",
        //            type: "POST"
        //        }
        //    },
        //    pageSize:5,
        //    schema: {
        //        model: {
        //            id: "id",
        //            fields:{
        //                id: { type: "string" },
        //                name: { type: "string", validation: {required:true} },
        //                desc: { type: "string" }
        //            }

        //        }

        //    }
        //});

        //function controllerEditor(container,option) {
        //    let textarea = $("<textarea class='k-textbox' name='" + option.field + "'></textarea>");
        //    container.append(textarea);
        //}
        //$("#gridFormGroup").kendoGrid({
        //    toolbar: ["create"],
        //    editable: "inline",
        //    pageable:true,
        //    dataSource:DsGridFormGroups,
        //    columns: [
        //        { field: "name" ,title:"Name"},
        //        { field: "desc", title: "Description",editor:controllerEditor }
        //        ,{command:["edit","destroy"]}
        //    ],
        //});


        ////$(".k-grid-edit").click(function () {
        ////    $(".k-grid-update").bind("click", () => {
        ////        var pageURL = $(location).attr("href");
        ////        alert(pageURL);

        ////    });
        ////    console.log("im geted clicked");

        ////});


        // $("#card").flip({ trigger: 'click', autoSize: true, forceWidth: true, forceHeight: true });
    });

</script>